div {
  border: 1px;
}

.container {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.block {

}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: black; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    display: table;
    height: 100%;

    text-align: center;
   }